**/obj
**/bin
.vscode/
docker-compose.*
.dockerignore
Dockerfile*
*.md
.git
.gitignore
**/node_modules
node_modules
cdk.json
cdk.context.json
cdk.out/
ts-cdk/
**/dist/
**/distb/
**/*.tsbuildinfo
*.zip